extends partial/default.jade
block content
  |  p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse distinctio nulla temporibus numquam dolorem inventore totam, optio est veritatis, excepturi minus quo culpa blanditiis impedit nesciunt harum molestias fuga animi.
  
