extends partial/default.pug
block content
  .Hero
    .Grid.Grid--equalHeight
      .Grid-cell.u-lg-size7of12
        .pa4.slider.bg-primary
          h1 no money for the lazy man you should know that asshole
          
      .Grid-cell.u-lg-size5of12.Hero-latestNews
        .Grid.Grid--equalHeight
          .Grid-cell.u-md-size1of2.bg-primary.Hero-latestNewsContainer
            a(href="").pa4
              .Hero-latestNewsImg
                img(src="https://source.unsplash.com/random/512x512", alt="")
              .Hero-latestNewsContent
                h5 2 Juli 2016
                h3 Selamat Jalan Mas Slamet Widodo, Sahabat Seperjuangan di Lembaga Kemanusiaan
          .Grid-cell.u-md-size1of2.bg-primary.Hero-latestNewsContainer
            a(href="").pa4
              .Hero-latestNewsImg
                img(src="https://source.unsplash.com/random/512x512", alt="")
              .Hero-latestNewsContent
                h5 2 Juli 2016
                h3 Bank Sulselbar Serahkan Beasiswa dan Bantuan Desa Tertinggal di Cindakko Maros
          .Grid-cell.u-md-size1of2.bg-primary.Hero-latestNewsContainer
            a(href="").pa4
              .Hero-latestNewsImg
                img(src="https://source.unsplash.com/random/512x512", alt="")
              .Hero-latestNewsContent
                h5 2 Juli 2016
                h3 BNI Syariah dan Mitra Gandeng PKPU Renovasi Paud Binaan
          .Grid-cell.u-md-size1of2.bg-primary.Hero-latestNewsContainer
            a(href="").pa4
              .Hero-latestNewsImg
                img(src="https://source.unsplash.com/random/512x512", alt="")
              .Hero-latestNewsContent
                h5 2 Juli 2016
                h3 Yayasan Tarbiyatul Mukminin Magelang Galang dana untuk Suriah

  section.pv5.ph4
    .container
      .Grid
        .Grid-cell.u-lg-size1of2
          h1 Klaster Berdaya
          h2 Bersama Membangun Kemandirian Masyarakat
          p Klaster Berdaya merupakan sejumlah program pemberdayaan yang diterapkan pada tingkat individu, keluarga maupun lingkungan untuk meningkatkan kualitas hidup dan kemampuannya dalam upaya meningkatkan kesejahteraan yang berkelanjutan
  
  section.pv5.ph4
    
