extends partial/default.jade
block content
  h2 hallo nama saya
  
  .container
    .Media.List-block
      .Media-img
        img.img-round.avatar(src="https://randomuser.me/api/portraits/med/men/79.jpg", alt="")
      .Media-body
        .Grid.Grid--alignMiddle
          .Grid-cell.u-sizeFull.u-md-size1of3.u-lg-size2of5
            h4 James Bond
          .Grid-cell.u-size1of2.u-md-size1of3.u-lg-size2of5
            p Designer, web developer
          .Grid-cell.u-size1of2.u-md-size1of3.u-lg-size1of5.u-textRight
            p.star &#9733; &#9733; &#9733; &#9733;
    .Media.List-block
      .Media-img
        img.img-round.avatar(src="https://randomuser.me/api/portraits/med/men/80.jpg", alt="")
      .Media-body
        .Grid.Grid--alignMiddle
          .Grid-cell.u-sizeFull.u-md-size1of3.u-lg-size2of5
            h4 James Collins
          .Grid-cell.u-size1of2.u-md-size1of3.u-lg-size2of5
            p Designer
          .Grid-cell.u-size1of2.u-md-size1of3.u-lg-size1of5.u-textRight
            p.star &#9733; &#9733; &#9733; &#9733;
