.MainFooter
  .MainFooter-top
    .Container
      .Grid
        .Grid-cell.u-lg-size2of6
          .logo
            img(src="asset/img/logo.png", alt="")
          p Jl. MH. Thamrin 350<br>Jakarta Indonesia
        .Grid-cell.u-lg-size1of6
          h4 Services
          ul
            li 
              a(href="") Training
            li 
              a(href="") How It Works
            li 
              a(href="") FAQS
        .Grid-cell.u-lg-size1of6
          h4 Trainers
          ul
            li 
              a(href="") Most Ratings
            li 
              a(href="") How It Works
            li 
              a(href="") FAQS
        .Grid-cell.u-lg-size1of6
          h4 About Us
          ul
            li 
              a(href="") About Us
            li 
              a(href="") Careers
            li 
              a(href="") Press Center
            li 
              a(href="") Testimonial
        .Grid-cell.u-lg-size1of6
          h4 CONNECT
          
  .MainFooter-bottom
    .Container
      | Copyright &#169 excellence.asia 2016 | All Rights Reserved.
