.MainHeader
  .MainHeader-top
    .Container.u-textRight
      .MainHeader-logIn
        a(href="register") register
        a(href="Sign in") Sign Up
  .MainHeader-bottom
    .Container
      .logo
        img(src="asset/img/logo.png", alt="")
      nav.u-textRight
        a(href="") Services
        a(href="") Trainers
        a(href="") How it Works 
        a(href="") Testimonial
        a(href="") FAQS
        a(href="") About Us
      .MainHeader-searchBox
        input(type="search" placeholder="search")
