header.MainHeader
  .MainHeader-top
    .container.cf
      .MainHeader-social.fl
        a(href="")
          i(data-icon="ei-sc-twitter" data-size="s" class="icon-white")
        a(href="")
          i(data-icon="ei-sc-facebook" data-size="s" class="icon-white")
        a(href="")
          i(data-icon="ei-sc-instagram" data-size="s" class="icon-white")
      .MainHeader-search.fr
        input(type="search")
  .MainHeader-bottom
    .container.u-table
      .logo.u-tableCell.u-alignMiddle
        a(href="")
          img(src="asset/img/logo.png")
      .MainHeader-nav.u-tableCell.u-alignMiddle
        nav.u-textRight
          a(href="") Home
          a(href="") About Us
          a(href="") Program & Services
          a(href="") Our Stories
          a(href="") How to Help
          a.Button.Button--primary(href="") Join
