.slider {
  width: 100%;
  position: relative;
  background-image: url(../asset/img/air.jpeg);
  background-position: center;
  -webkit-background-size: cover;
  background-size: cover;
  position: relative;
}

.slider > .container {
  position: relative;
  height: 560px;
}

.sliderContent {
  color: #fff;
  position: absolute;
  top: 50%;
  width: 100%;
  transform: translateY(-50%);
}

.Card-blue {
  padding: 1.5rem;
  background-color:rgba(#589CD9, .75);
  border-radius: 2px;
}
