/** @define Media */

.Media {
  display: table;
  width: 100%;
}

.Media-img,
.Media-body {
  display: table-cell;
  vertical-align: middle;
}

.Media-img {
  padding-right: var(--base-spacing-unit);
}

.Media-img > img {
  display: block;
  max-width: none;
}

.Media-body {
  width: 100%;
}
