@import "./css/base.css";
@import "./css/b-img.css";

@import "./css/b-mainheader.css";
@import "./css/b-mainfooter.css";

@import "./css/c-media.css";
@import "./css/c-container.css";
@import "suitcss-components-grid";

@import "suitcss-utils-display";
@import "suitcss-utils-text";
@import "suitcss-utils-size";




@custom-media --sm-viewport (min-width:320px) and (max-width:640px);
@custom-media --md-viewport (min-width:640px) and (max-width:960px);
@custom-media --lg-viewport (min-width:960px);



:root {
  --base-spacing-unit: 1rem;
}

html {
  font-family: "fira sans";
  background-color: #f0f0f0;
}

body {
  font-size: 0.87rem;
}
